@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1592917067797'); /* IE9 */
  src: url('iconfont.eot?t=1592917067797#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABqwAAAKVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBOIE0ATYCJAMICwYABCAFhG0HLxvZBRHVk2NkPwrjxvpSJtEQUbRQSnBq5o+LfR+C53Guer9JZ7LpApIEBgXnTh1bAlbMwqBfkIdgt9vPvekn3NyXuZ0vyW8HqNAX8lrOuzQdsHFzetIvAHzi3un/vzrvApnvvMtxLxpr0qQuwDiQAhxrUSABF0joDWMXuITDEMCSTinSdnZzDwaNNUoAWVJkEZicF41mCYMQqFmokQO4GGen8xqA/eH35SuEYsDBVVglQ4tPU2j64NgpaoP/w6RP4AMBLXcBBZQCGmSsNjqAQhhLYaOabNhXocAHx/d9C7JXI8L+Ois/FIBUKLonsSu5VUEHAA2doQ5oHvW2oJJt4morp57mL648TgR7/3nq6OyL8sNHrzLG514u2/jrebuPQujKFUeOWLvrWLwTKmFy/HjC8ujROAir+fP3b3CWsWHhJ2M2+B85K0tg9mA6vJJaZqPB6UmzMDsZ7D/6vMCR06vm/exqMHJt7mfKXPHeLltOEwD+Q43qhV3/5ErSrmRRRN3/macBmNml9SJJPzuYs9kE/pq4Z4PWpZbZ0aq4NulQh7qbMosFfLAzmvmxurhbTAqGuBu1B0lLoTDkkppRChePMgQwNMJSQudyjxhWoRAdAhSzFUCI5BYcwnkFRSRvSM2Yg0s83xEgUhQsExKzoUe+YMXiWChSSjF+xSLh1jhWXUSFt5T1dSRZach+JOmKAAauX0ycU0syx5TuKQtVDRrhBs/AcVTXjFa4pETdXNXuPc/UvchNuIEFHAtFSinGr1gk3Bq/tS5Kn7+lrK8jaamrCT+SdEX3GLh+D/Jc1faqu5dnuqcsVDVohBs8A/2orhltfb+SEnXzEWG79+xmpq/KXV/TfN02wIKldxy7xxDGZdG/EgAAAAA=') format('woff2'),
  url('iconfont.woff?t=1592917067797') format('woff'),
  url('iconfont.ttf?t=1592917067797') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1592917067797#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiuye:before {
  content: "\e601";
}

